body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.app-page {

}

.about{

}

.intro{


}

.title{

}


.intro-paragraph{
  font-style: italic;
  
}

.about-links{

}

.profile-pic{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80%;
  width: 68%

}

.projects-page{


}

.project-container{
  border: 5px solid black;
  padding: 20px;
  text-align: center;
  border-radius: .5rem;
  margin-bottom: 5px;

}

.project-image{
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.skills-intro{

}

.skills-info{
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: auto;
  align-items: center;
  position: absolute;
  left: 10%

  
}

.skill-symbol{
  height: 40%;
  width: 40%;
}

.contact-info{

}

.contact-form{
  border: 0.5px solid rgb(2, 1, 1);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  border-radius: .5rem;
  text-align: center;
}

.home-page{
  
}

.navbar{
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #030303;
  margin: 1rem;
  padding: 1rem;
  color: black;
  cursor: pointer;
  border-radius: 1rem;
}




.cater3-movingBG {
    height: 100%;
    background-image: url("Images/books.jpg");
    background-size: 125%;
    background-repeat: repeat-x;
    animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 50% 0; }
    100% { background-position: 0 0; }
}

.flyinTxtCont {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 10%;
      margin-left: 2em;
}
.flyIn {
    color:#fff;
    font-family:'Raleway';
    text-transform:uppercase;
    line-height:1.2em;
    position:relative;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
}
.lineOne {
  transition-delay:.2s; 
  transition:.4s ease in;
  animation: txtFlyIn .3s linear;
}
.lineTwo {
    transition-delay:.4s; 
    transition:.6s ease in;
    animation: txtFlyIn .6s linear;
}
.lineThree {
    transition-delay:.6s; 
    transition:.8s ease in;
    animation: txtFlyIn .9s linear;
}
.lineOne, .lineTwo, .lineThree {
    font-size:110px;
    font-weight: bold;
    letter-spacing: 3px;
  }
.lineFour {
    transition-delay:2s; 
    transition:2s ease in;
    animation: fadeIn 2s linear;
    width: 100%;
    background-color:rgba(255,255,255,0.9);
    display:inline-block;
    color:#000;
    box-size:border-box;
    max-width:63%;
    max-width: 22em;
    font-size: 32px;
    padding: .2em .5em;
    margin-top: 30px;
}
@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity:1;}
}
@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}